@font-face {
    src: url(assets/Minecraft.ttf);
    font-family: pixelText;
}

@font-face {
    src: url(assets/joystix.ttf);
    font-family: gameover;
}

* { box-sizing: border-box; margin:0; padding:0; }

html { height:100%; width:100%; }

body {
    align-content:center;
    align-items:space-around;
    background-color:rgba(0, 0, 0, 1);
    display:grid;
    justify-items:center;
    height:100%;
    width:100%;
}

canvas { 
    image-rendering:pixelated;
}